<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Code Contas</title>
    <style type="text/css">
        .pago { color: green; }
        .nao-pago { color: red; }
        .bg-default { background: #f5f5f5; }
        .red { color: red; }
        .green { color: green; }
        .gray { color: gray; }
    </style>
</head>
<body id="app">

    <h1>{{ title }}</h1>
    <h3 :class="{ 'gray': status === false, 'green': status === 0, 'red': status > 0 }">{{ status | statusGeneral }}</h3>

    <nav>
        <ul>
            <li v-for="o in menus">
                <a href="#" @click.prevent="showView(o.id)">{{ o.name }}</a>
            </li>
        </ul>
    </nav>

    <div v-if="activedView == 0">
        <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Valor</th>
                <th>Paga?</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(index, o) in bills">
                <td>{{ index + 1 }}</td>
                <td>{{ o.date_due }}</td>
                <td>{{ o.name }}</td>
                <td>{{ o.value | currency 'R$ ' 2 }}</td>
                <td class="bg-default" :class="{ 'pago': o.done, 'nao-pago': !o.done }">
                    {{ o.done | doneLabel }}
                </td>
                <td>
                    <a href="#" @click.prevent="loadBill(o)">Editar</a> |
                    <a href="#" @click.prevent="deleteBill(o)">Excluir</a>
                </td>
            </tr>
        </tbody>
    </table>
    </div>

    <div v-if="activedView == 1">
        <form name="form" @submit.prevent="submit">
            <p>
                <label>Vencimento:</label>
                <input type="text" v-model="bill.date_due">
            </p>
            <p>
                <label>Nome:</label>
                <select v-model="bill.name">
                    <option v-for="o in names" :value="o">{{ o }}</option>
                </select>
            </p>
            <p>
                <label>Valor:</label>
                <input type="text" v-model="bill.value">
            </p>
            <p>
                <label>Paga?</label>
                <input type="checkbox" v-model="bill.done">
            </p>
            <p>
                <input type="submit" value="Enviar">
            </p>

        </form>
    </div>

    <script type="text/javascript" src="node_modules/vue/dist/vue.min.js"></script>
    <script type="text/javascript" src="app.js"></script>

</body>
</html>